body {
    background: #3a6186;
    background: -webkit-linear-gradient(124deg, #89253e 15%, #3a6186 100%);
    background: linear-gradient(124deg, #89253e 15%,   #3a6186 100%);
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
 
}


table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

th {
    text-align: left;
}

thead th {
    background-color: #55608f;
}

tbody tr:hover {
    background-color: rgba(255,255,255,0.3);
}

td {
    position: relative;
}

td:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255,255,255,0.2);
    z-index: -1;
}

.login-box {
   /* position: absolute;*/
    padding: 40px;
    /*transform: translate(-50%, -50%);*/
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
    top: 0px;
    left: 0px;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}


.girisBtn, .dltBtn {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}


.login-box form a, .girisBtn, .girisDiv {
    position: relative;
    display: inline-block;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    top: 0px;
    left: 0px;
}

        .login-box a:hover, .girisBtn:hover, .girisDiv:hover {
            background: #03e9f4;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
            cursor:pointer;
        }

        .login-box a span, .girisDiv span {
            position: absolute;
            display: block;
        }

            .login-box a span:nth-child(1), .girisDiv span:nth-child(1) {
                top: 0;
                left: -100%;
                width: 100%;
                height: 2px;
                background: linear-gradient(90deg, transparent, #03e9f4);
                animation: btn-anim1 1s linear infinite;
            }


@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2), .girisDiv span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3), .girisDiv span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4), .girisDiv span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}


@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}

*,
:before,
:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.xcontainerx {
    width: 100%;
    height: 1.15em;
    font-size: 4rem;
    font-family: sans-serif;
    position: relative;
}

    .xcontainerx div {
        position: absolute;
        left: 0;
        text-transform: uppercase;
        width: 100%;
        display: block;
        text-align: center;
    }

.upper {
    top: 0;
    height: 52.5%;
    color: #fff;
    overflow: hidden;
    z-index: 3;
    animation: moveUp 7s infinite ease-in-out;
    background-color: #121212;
}

.lower {
    bottom: 0;
    height: 100%;
    background: linear-gradient(180deg, #121212 52.5%, #fff 52.5%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 1;
    animation: moveDown 7s infinite ease-in-out;
}

.inside {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    text-align: center;
    z-index: 2;
    font-size: 1rem;
    color: #dc143c;
}

@keyframes moveUp {
    10%, 90% {
        top: 0;
    }

    50%, 70% {
        top: -45px;
    }
}

@keyframes moveDown {
    10%, 90% {
        top: 0;
    }

    50%, 70% {
        top: 30px;
    }
}

@media (max-width: 424px) {
    .container {
        font-size: 2.5rem;
    }

    .inside {
        font-size: 0.75rem;
    }
}

@media (max-width: 320px) {
    .container {
        font-size: 2rem;
    }

    .inside {
        font-size: 0.5rem;
    }
}